<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168189315318-tmb4kfv9jkij8agl6ntqp8c5efq09cn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168189315318-tmb4kfv9jkij8agl6ntqp8c5efq09cn0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168189315318-ms0eep080ntc3hoa4k5std2gb44pkcre.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVozsBj-EpLWBGMKnRAJcj_HLc2vrvcvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>168189315318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieAppHivedb</string>
	<key>PROJECT_ID</key>
	<string>movie-app-flutter-31d67</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-flutter-31d67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168189315318:ios:e17b180232a762837a84d7</string>
</dict>
</plist>